body {
  background-color: rgb(65, 6, 6);
}

#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: rgb(34, 33, 33);
}

@keyframes shimmer {
  0% { background-position: -100px 0; }
  100% { background-position: 100px 0; }
}

.shimmer-text {
  font-size: 2rem;
  font-weight: bold;
  max-width: 80%;
  text-align: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.945) 0%, rgba(255, 255, 255, 0.055) 50%, rgba(255, 255, 255, 0.925) 100%);
  background-size: 200px 100%;
  background-clip: text;
  -webkit-text-fill-color: white;
  animation: shimmer 2s infinite linear;
}